<div>
  <div *ngIf="!userProfile" style="max-width: 800px;">
    <p>
      You are currently not logged in with Spotify.
      This application needs to be authorized by you to access your playlists and function
      properly.
    </p>
    <button (click)="login()"
            mat-raised-button
            [ngStyle]="{'background-color': '#1DB954', 'color': 'white'}">
      <i class="fab fa-spotify"></i>
      Login with Spotify
    </button>
  </div>

  <div *ngIf="userProfile">
    <h1 class="mb-2">Welcome, {{userProfile.display_name}}!</h1>
    <app-playlists></app-playlists>
  </div>
</div>
