<div>
  <h1>Playlists</h1>
  <div *ngIf="playlists">
    <mat-card *ngFor="let playlist of playlists"
              appearance="outlined"
              class="card-container"
              routerLink="playlist/{{playlist.id}}">
      <div class="card-content">
        <img mat-card-image [src]="playlist.images[0].url" alt="Playlist Image" class="card-image">
        <mat-card-content class="text-content">
          <h3 class="card-title">{{ playlist.name }}</h3>
        </mat-card-content>
      </div>
    </mat-card>

  </div>
</div>
