<div>
  <h1>Playlists</h1>
  <div *ngIf="playlists">
    <mat-card *ngFor="let playlist of playlists"
              appearance="outlined"
              class="card-container"
              [ngClass]="{'card-container-selected-light': currentPlaylistId == playlist.id && !isDarkTheme(),
                          'card-container-selected-dark': currentPlaylistId == playlist.id && isDarkTheme()}"
              routerLink="playlist/{{playlist.id}}"
              matRipple>
      <div class="card-content">
        <img [src]="playlist.images[0].url" alt="Playlist Image" class="card-image">
        <mat-card-content class="text-content">
          <h3 class="card-title">{{ playlist.name }}</h3>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
