@use '@angular/material' as mat;

$light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
);

$dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
    )
);

@mixin theme($theme) {
  app-root {
    color: mat.get-theme-color($dark-theme, primary);

    mat-toolbar {
      background: mat.get-theme-color($theme, primary-container);
    }

    mat-sidenav {
      border-right: 1px solid mat.get-theme-color($theme, secondary);
      padding: 16px;
      border-radius: 0;
    }
  }
}

:root {
  @include mat.all-component-themes($light-theme);
  @include theme($light-theme);
}

[data-theme='dark'] {
  @include mat.all-component-themes($dark-theme);
  @include theme($dark-theme);
}

.m-2 {
  margin: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
}
