<div *ngIf="playlist">
  <img [src]="playlist.images[0].url" alt="Playlist Image" class="playlist-image">
  <h1 class="title">{{playlist.name}}</h1>

  <p style="max-width: 600px;">
    {{playlist.description}}
  </p>

  <mat-card *ngFor="let track of playlist.tracks.items"
            appearance="raised"
            class="song-card"
            (click)="playTrack(track.track.uri)"
            matRipple>
    <div>
      <mat-card-content>
        <div class="card-content">
          <img [src]="track.track.album.images[0].url" alt="Track Image" class="track-image">
          <div class="text-content">
            <strong>{{track.track.name}}</strong><br>
            <span *ngFor="let artist of track.track.artists; let last = last">
              {{ artist.name }}<span *ngIf="!last">,</span>
            </span>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
