.playlist-image {
  width: 600px;
  height: 600px;
  border-radius: 18px;
}

.title {
  max-width: 600px;
}

.song-card {
  display: flex;
  justify-content: space-between; /* Keeps the text on the left and image on the right */
  margin: 10px 0;
  max-width: 600px;
  cursor: pointer;
  user-select: none;
}

.card-content {
  display: flex;
  width: 100%;
  align-items: center; /* Vertically centers the content */
}

.text-content {
  margin-left: 10px;
  flex-grow: 1; /* Allows the text content to take up all available space */
}

.track-image {
  width: 60px;
  height: 60px;
  margin-left: auto; /* Pushes the image to the far right */
  object-fit: contain; /* Ensures the image fits within its container */
  border-radius: 6px;
}
